@model WorldFeed.Programming.Quiz.Web.ViewModels.Questions.QuestionViewModel

@using WorldFeed.Programming.Quiz.Data.Models;
@using System.Reflection

@if (this.User.Identity.IsAuthenticated)
{
    <style>
    #question {
        color: @Model.UserStyles.QuestionColor;
        background-color: @Model.UserStyles.QuestionBackgroundColor;
    }

    .radiocontainer{
        color: @Model.UserStyles.AnswerChoiceColor;
    }

        #lives-value.quiz-data-value {
            color: @Model.UserStyles.LivesColor;
        }
    </style>
}

<form action="">
    <div id="formContainer">
        @{
            PropertyInfo[] optionProperties = Model.GetType().GetProperties().Skip(2).Take(4).ToArray();
            var numerals = new Queue<char>(new char[] { 'A', 'B', 'C', 'D' });
        }
        <h1 id="question">@Model.Question</h1>
        <div id="altcontainer">
            @foreach (PropertyInfo optionX in optionProperties)
            {
                <label class="radiocontainer center-block">
                    @numerals.Dequeue(): @optionX.GetValue(Model)<input type="radio" name="quiz" value="@optionX.GetValue(Model)">
                    <span class="checkmark"></span>
                    <span class="right-answer">&#9989;</span>
                </label>
            }
        </div>
        <button id="submit-answer" class="a-btn center-block" type="button" value="@Model.Id">Enter</button>
    </div>
</form>
<button id="next-button" class="a-btn">Next</button>

<div id="end-question-stats-component">
    <div class="current-quiz-data">
        <div>Pass Rate</div> <strong id="pass-rate-strong">love</strong>
    </div>
    <div class="current-quiz-data">
        <div>Attempts</div> <strong id="attempts-strong">love</strong>
    </div>
</div>

<div id="audio-container" hidden>
    <audio id="audio-warring" src="~/audios/warring.wav">
        Your browser does not support the audio element.
    </audio>

    <audio id="audio-test-faill" src="~/audios/test-failled.wav">
        Your browser does not support the audio element.
    </audio>

    <audio id="audio-end-quiz" src="~/audios/end-quiz.wav">
        Your browser does not support the audio element.
    </audio>

    <audio id="audio-live-increase" src="~/audios/ten-lives-add.wav">
        Your browser does not support the audio element.
    </audio>
</div>

<span id="button-try-again" hidden>
    <a class="a-btn" asp-controller="SkillLevel" asp-action="Index">Try again</a>
</span>


<div id="vote-container-questions-@Model.Id" class="vote-container-questions">
    @{
        var likedQuestion = Model.QuestionVoteStyles?.QuestionLiked;
        var dislikedQuestion = Model.QuestionVoteStyles?.QuestionDisliked;

        if (likedQuestion == null)
        {
            likedQuestion = "/images/thumbs-up-question.png";
        }

        if (dislikedQuestion == null)
        {
            dislikedQuestion = "/images/thumbs-down-question.png";
        }
    }
    <div class="text-muted zz ml-3">
        <form id="questionForm-@Model.Id" method="post"></form>
        <div>
            <a href="#" onclick="sendVote(@Model.Id, true, 'question')">
                <i>
                    <img id="question-thumbs-up-@Model.Id" class="fa-mask thumbs-up-question-icon" src="@likedQuestion" alt="Thumbs up" draggable="false" />
                </i>
            </a>
        </div>
        <div id="question-votes-count-@Model.Id" class="center-block question-votes-count">@Model.VotesCount</div>
        <div>
            <a href="#" onclick="sendVote(@Model.Id, false, 'question')">
                <i>
                    <img id="question-thumbs-down-@Model.Id" class="fa-mask thumbs-down-question-icon" src="@dislikedQuestion" alt="Thumbs down" draggable="false" />
                </i>
            </a>
        </div>
    </div>
</div>

