@model WorldFeed.Programming.Quiz.Web.ViewModels.Questions.QuestionViewModel

@{
    ViewData["Title"] = "Quiz";
}

@{
    var livesRightPositioningPercentage = 3.3;
    if (Model.DisplayLives > 9)
    {
        livesRightPositioningPercentage = 1;
    }
}

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="~/js/quiz/globalQuiz.min.js"></script>
<script src="~/js/quiz/submitAnswer.js"></script>

<div class="content" style="min-height: 600px">
    <div class="row" style="margin-right:0px">
        @*Left*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <div class="eye-gif-image-container">
                <img id="left-eye-gif" class="eye-gif" src="~/images/gif.gif" alt="Let eye gif" draggable="false" />
            </div>
            <a id="left-donate" class="donate-text text-warning" href="https://www.streamlabs.com/No_Talent_Guy" target="_blank" draggable="false">Donate</a>

            <div class="edit-styles-container">
                <a asp-controller="Styles" asp-action="Index"><li class="fas fa-edit" title="Edit styles"></li></a>
            </div>

            <span id="current-streak" class="streak-data-style">Current Streak: <span class="quiz-streak-value">@Model.DisplayCurrentStreak</span></span>

            @{
                var snakeClass = "btn disabled";
                if (Model.IsSnakeUnlocked)
                {
                    snakeClass = string.Empty;
                    if (Model.DisplayProgress % 24 == 0)
                    {
                        <audio src="~/audios/snake/snake_follow.mp3" autoplay>
                            Your browser does not support the audio element.
                        </audio>
                    }
                }
            }
            <div id="snake-container">
                <a role="button" id="snake-btn" class="a-btn @snakeClass" asp-controller="Snake" asp-action="Index" aria-describedby="tooltip-snake" draggable="false">
                    <img id="snake-img" src="~/images/snake-btn.png" alt="Snake button" draggable="false" />
                </a>
            </div>
            @if (Model.IsSnakeUnlocked == false)
            {
                <div id="tooltip-snake" class="tooltip" role="tooltip">Solve <strong>@(24 - (Model.DisplayProgress % 24))</strong> more to unlock!<div id="arrow" data-popper-arrow></div></div>
            }
        </div>
        @*Centre*@
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
            <span>
                <progress class="center-block" max="1000" value="@Model.DisplayProgress"></progress>
                <span id="questions-passed">@Model.DisplayProgress/1000</span>
            </span>
            <partial name="_QuestionCurrentPartial" model="@Model" />
        </div>
        @*Right*@
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2">
            <div id="how-much-gif-container" hidden>
                <img id="how-much-gif" src="~/images/how-much.gif" alt="I, Robot saying how much gif" draggable="false" />
            </div>
            <div class="eye-gif-image-container">
                <img id="right-eye-gif" class="eye-gif" src="~/images/gif.gif" alt="Right eye gif" draggable="false" />
            </div>
            <a id="right-donate" class="donate-text" href="https://www.streamlabs.com/No_Talent_Guy" target="_blank" draggable="false">Donate</a>
            <div id="lives-container">
                <img id="beating-heart" src="~/gifs/beating-robot-heart.gif" alt="Beating robot heart depicting lives" draggable="false" />
                <span id="lives-value" class="quiz-data-value" style="right: @livesRightPositioningPercentage%">@Model.DisplayLives</span>
            </div>

            <span id="longest-streak" class="streak-data-style">Longest Streak: <span class="quiz-streak-value">@Model.DisplayBestStreak</span></span>

            @*<partial name="_TimerPartial" model="timerCurrent" />*@
            <div id="countdown">
                <div id="tiles">

                    <span id="days">@Model.Timer.Days</span>
                    <span id="hours">@Model.Timer.Hours</span>
                    <span id="minutes">@Model.Timer.Minutes</span>
                    <span id="seconds">@Model.Timer.Seconds</span>

                </div>
                <div class="labels">
                    <li>Days</li>
                    <li>Hours</li>
                    <li>Mins</li>
                    <li>Secs</li>
                </div>
                <script>
                    var t;
                    var jsonTimer;

                    let daysElement = document.getElementById('days');
                    let hoursElement = document.getElementById('hours');
                    let minutesElement = document.getElementById('minutes');
                    let secondsElement = document.getElementById('seconds');

                    $("#next-button").on('click', (ev) => {
                        clearTimeout(t);
                        var __RequestVerificationToken = $("input[name=__RequestVerificationToken]")[0].value;
                        let json = JSON.stringify(jsonTimer);
                        $.ajax({
                            url: '/api/Timer',
                            type: "POST",
                            data: json,
                            headers: { 'X-CSRF-TOKEN': __RequestVerificationToken },
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            success: function () {
                                location.reload(true);
                                // return false? => https://stackoverflow.com/questions/3715047/how-to-reload-a-page-using-javascript
                            }
                        })
                    });

                    window.addEventListener("beforeunload", function (ev) {
                        ev.preventDefault();
                        clearTimeout(t);
                        var __RequestVerificationToken = $("input[name=__RequestVerificationToken]")[0].value;
                        let json = JSON.stringify(jsonTimer);
                        $.ajax({
                            url: '/api/Timer',
                            type: "POST",
                            data: json,
                            headers: { 'X-CSRF-TOKEN': __RequestVerificationToken },
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                        })
                    });

                    function startTime() {
                        let days = daysElement.textContent;
                        let hours = hoursElement.textContent;
                        let minutes = minutesElement.textContent;
                        let seconds = secondsElement.textContent;

                        jsonTimer = { days: days, hours: hours, minutes: minutes, seconds: seconds }

                        updateTime(jsonTimer);

                        t = setTimeout(startTime, 1000);

                        function updateTime(timer) {
                            timer.seconds++;
                            if (timer.seconds >= 60) {
                                timer.seconds = 0;
                                timer.minutes++;
                                if (timer.minutes >= 60) {
                                    timer.minutes = 0;
                                    timer.hours++;
                                    if (timer.hours >= 24) {
                                        timer.hours = 0;
                                        timer.days++;
                                    }
                                }
                            }

                            daysElement.textContent = timer.days;
                            hoursElement.textContent = timer.hours;
                            minutesElement.textContent = timer.minutes;
                            secondsElement.textContent = timer.seconds;
                        }
                    }
                    startTime();
                </script>
            </div>

        </div>
    </div>

    @if (Model.DisplayProgress != 0 && Model.DisplayProgress % 97 == 0)
    {
        <div id="zombie-robot-container">
            <img id="animate-zombie-robot" src="~/gifs/Zombie-Robot.gif" alt="Running zombie robot gif" draggable="false" />
            <audio id="zombie-robot-audio" src="~/audios/braaaains-zombie-robot.wav">Your browser does not support the audio element.</audio>
            <script>
                setTimeout(() => {
                    goRobotZombie();
                }, 2000);

                function goRobotZombie() {
                    let zombieRobotContainer = document.getElementById("zombie-robot-container");
                    let zombieRobotElement = document.getElementById("animate-zombie-robot");
                    let zombieRobotAudio = document.getElementById("zombie-robot-audio");

                    zombieRobotAudio.play();

                    zombieRobotContainer.style.display = "block";
                    let position = 0;
                    let id = setInterval(frame, 5);

                    function frame() {
                        if (position >= 100) {
                            clearInterval(id);
                            zombieRobotContainer.style.display = "none";
                            zombieRobotElement.style.right = 0 + '%';
                            zombieRobotContainer.remove();
                        } else {
                            position += 0.1;
                            zombieRobotElement.style.right = position + '%';
                        }
                    }
                }
            </script>
        </div>
    }

    @if (Model.DisplayProgress != 0 && Model.DisplayProgress % 9 == 0)
    {
        <div id="ufo-container">
            <script src="~/js/pass-overs/ufo.js"></script>
            <img id="img-ufo-ship" src="/images/fly_overs/ufo.png" alt="Flying ufo" draggable="false" />
            <audio id="ufo-sound" src="/audios/ufo-sound.wav">Your browser does not support the audio element.</audio>
            <audio id="ufo-beam" src="/audios/ufo-beam.wav">Your browser does not support the audio element.</audio>
            <audio id="poke-sound" src="/audios/poke.wav">Your browser does not support the audio element.</audio>
            <script>
                setTimeout(() => {
                    flyUfo();
                }, 2000);
            </script>
        </div>
    }
</div>