@model WorldFeed.Programming.Quiz.Web.ViewModels.Styles.UserPersonalStylesViewModel

@{
    ViewData["Title"] = "Styles";
}

<html class="edit-profile-body" lang="en">
<body class="edit-profile-body">
    <div class="content">
        <div class="container">
            <div class="row center-block">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 id="custom-quiz-styles-title">Custom Quiz Styles</h2>
                                    <p style="color: white;">Use Browser Dev Tools to see the styles you like and paste the values here</p>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form class="yt-uix-inlineedit-form c4-module-editor-form about-metadata-editor-form branded-page-box clearfix" method="POST" asp-controller="Profile" asp-action="Edit">
                                        <table class="about-metadata-form-links-table">
                                            <tbody class="about-metadata-form-links yt-ui-elementlist-list">
                                                <tr class="yt-ui-elementlist-item">
                                                    <td class="item-title-cell">
                                                        <span class="item-title-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty"><input class="yt-uix-form-input-text about-metadata-text-input item-title" name="custom_links_title" value="Question color" placeholder="question color" maxlength="30" readonly></span>
                                                    </td>
                                                    <td class="item-url-cell">
                                                        <span class="item-url-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty yt-uix-form-input-fluid-container">
                                                            <span class=" yt-uix-form-input-fluid">
                                                                <input class="yt-uix-form-input-text about-metadata-text-input" asp-for="QuestionColor" value="@Model.QuestionColor" placeholder="e.g. #3300ff, blue or rgba(red, green, blue, alpha)">
                                                            </span>
                                                        </span>
                                                    </td>
                                                </tr>

                                                <tr class="yt-ui-elementlist-item">
                                                    <td class="item-title-cell">
                                                        <span class="item-title-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty"><input class="yt-uix-form-input-text about-metadata-text-input item-title" value="Question background color" placeholder="question background" maxlength="30" readonly></span>
                                                    </td>
                                                    <td class="item-url-cell">
                                                        <span class="item-url-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty yt-uix-form-input-fluid-container"><span class="yt-uix-form-input-fluid"><input class="yt-uix-form-input-text about-metadata-text-input" asp-for="QuestionBackgroundColor" value="@Model.QuestionBackgroundColor" placeholder="e.g. #3300ff, blue or rgba(red, green, blue, alpha)"></span></span>
                                                    </td>
                                                </tr>

                                                <tr class="yt-ui-elementlist-item">
                                                    <td class="item-title-cell">
                                                        <span class="item-title-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty"><input class="yt-uix-form-input-text about-metadata-text-input item-title" value="Answer choice color" placeholder="answer choice color" maxlength="30" readonly></span>
                                                    </td>
                                                    <td class="item-url-cell">
                                                        <span class="item-url-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty yt-uix-form-input-fluid-container"><span class=" yt-uix-form-input-fluid"><input class="yt-uix-form-input-text about-metadata-text-input" asp-for="@Model.AnswerChoiceColor" value="@Model.AnswerChoiceColor" placeholder="e.g. #3300ff, blue or rgba(red, green, blue, alpha)"></span></span>
                                                    </td>
                                                </tr>

                                                <tr class="yt-ui-elementlist-item">
                                                    <td class="item-title-cell">
                                                        <span class="item-title-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty"><input class="yt-uix-form-input-text about-metadata-text-input item-title" value="Lives color" placeholder="lives color" maxlength="30" readonly></span>
                                                    </td>
                                                    <td class="item-url-cell">
                                                        <span class="item-url-container yt-uix-form-input-container yt-uix-form-input-text-container yt-uix-form-input-non-empty yt-uix-form-input-fluid-container"><span class=" yt-uix-form-input-fluid"><input class="yt-uix-form-input-text about-metadata-text-input" asp-for="@Model.LivesColor" value="@Model.LivesColor" placeholder="e.g. #3300ff, blue or rgba(red, green, blue, alpha)"></span></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary" asp-controller="Styles" asp-action="Edit">Done</button>
                                            <div class="btn btn-primary" style="margin-left: 9px; margin-top: 9px" onclick="history.back()">Back</div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
