@model WorldFeed.Identity.API.Models.AccountViewModels.RegisterViewModel

@using WorldFeed.Identity.API.Models.Enums
@using WorldFeed.Identity.API.Models.Birthday
@using WorldFeed.Common.Extensions; 

@{
    ViewData["Title"] = "Register";
}

@{
    var enumMonthData = from Month e in Enum.GetValues(typeof(Month))
                        select new
                        {
                            Id = (int)e,
                            Name = e.ToString()
                        };

    var months = enumMonthData.Select(x => new SelectListItem(x.Name, x.Id.ToString()));

    var enumGenderData = from Gender e in Enum.GetValues(typeof(Gender))
                         select new
                         {
                             Id = (int)e,
                             Name = e.ToString()
                         };

    var days = new List<int>();
    for (int day = 1; day <= 31; day++)
    {
        days.Add(day);
    }

    var years = new List<int>();
    for (int year = DateTime.UtcNow.Year - 115; year <= DateTime.UtcNow.Year; year++)
    {
        years.Add(year);
    }

    var enumVisibilityData = from Visibility e in Enum.GetValues(typeof(Visibility))
                     select new
                     {
                         Id = (int)e,
                         Name = e.GetDisplayName(),
                     };

    var visibilities = enumVisibilityData.Select(x => new SelectListItem(x.Name, x.Id.ToString()));

}

<div class="brand-header-block">
    <ul class="container">
        <li class="active">REGISTER</li>
        <li style="margin-right: 65px;"><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">Login</a></li>
    </ul>
</div>
<div class="container register-container">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h3 class="order-create-section-title">Create New Account</h3>
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="User.Name" class="control-label form-label">Name</label>
                <input asp-for="User.Name" class="form-control form-input" />
                <span asp-validation-for="User.Name" class="text-danger" />
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Email" class="control-label form-label"></label>
                <input asp-for="Email" class="form-control form-input" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="Password" class="control-label form-label"></label>
                <input asp-for="Password" class="form-control form-input" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="ConfirmPassword" class="control-label form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control form-input" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Description" class="control-label form-label"></label>
                <input asp-for="User.Description" class="form-control form-input" />
                <span asp-validation-for="User.Description" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Birthdate.Month"></label>
                <select class="form-control" asp-for="User.Birthdate.Month" asp-items="months"></select>
                <span asp-validation-for="User.Birthdate.Month" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.Birthdate.Day" class="control-label form-label"></label>
                <select id="day" class="form-control" asp-for="User.Birthdate.Day" aria-label="Day" title="Day">
                    <option value="0">Day</option>
                    @foreach (var day in days)
                    {
                        <option value="@day">@day</option>
                    }
                </select>
                <span asp-validation-for="User.Birthdate.Day" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-8">
                <label asp-for="User.Birthdate.Year" class="control-label form-label"></label>
                <select id="day" class="form-control" asp-for="User.Birthdate.Year" aria-label="Day" title="Day">
                    <option value="0">Year</option>
                    @foreach (var year in years)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <span asp-validation-for="User.Birthdate.Year" class="text-danger"></span>
                <div aria-label="Who sees this?" role="group">
                    <div class="who-sees-this">Who sees this?</div>
                    <p>You can control who sees your birthday on World Feed. <a href="https://www.nasa.gov" target="_blank">Learn More</a></p>
                    <label asp-for="User.Birthdate.Visibility" class="control-label form-label"></label>
                    <select class="form-control" asp-for="User.Birthdate.Visibility" asp-items="visibilities"></select>
                    <span class="text-danger" asp-validation-for="User.Birthdate.Visibility"></span>
                </div>
                <br />
                <div aria-label="Who sees this?" role="group">
                    <label asp-for="User.Birthdate.VisibilityYear" class="control-label form-label"></label>
                    <select class="form-control" asp-for="User.Birthdate.VisibilityYear" asp-items="visibilities"></select>
                    <span class="text-danger" asp-validation-for="User.Birthdate.VisibilityYear"></span>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <div>Gender</div>
                <span data-type="radio" data-name="gender_wrapper">
                    @foreach (var gender in enumGenderData)
                    {
                        <label>@gender.Name</label>
                        <input type="radio" asp-for="User.Gender" value="@gender.Id">
                        <span class="text-danger" asp-validation-for="User.Gender"></span>
                    }
                </span>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-brand">&nbsp;Register&nbsp;</button>
        </div>
        <br /><br />
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
